---
import { IoChevronBack } from "react-icons/io5";
import Layout from "../layouts/Layout.astro";

---


<Layout>
<div class="flex items-center mx-auto justify-items-center">
<div class="flex-col">
404 | Page not Found
Pealse check the URL in the address bar and try again.
</div>
<div
  class="flex items-center rounded w-48 h-10 font-bold py-2 px-5 text-white bg-teal-600 hover:bg-teal-900"
>
  <IoChevronBack />
  Go back home
</div>
</div>
</Layout>
