---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';
import Paragraph from '../components/Paragraph.astro';
---

<Layout>
	<main role="main">
    <Content className="pt-5">
    <Paragraph>This is the home page</Paragraph>
    </Content>
	</main>
</Layout>
