---
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
import Showcase from "../components/Showcase.astro";
import GridItem from "../components/GridItem.astro";
import Card from "../components/Card.astro";

const services = (await Astro.glob('./services/*.md'))
---

<Layout>
  <main role="main">
    <Showcase
      heading="Nos Services"
      src="/images/services/services.jpg"
    />
    <Content className="pt-5">
      <Heading title="Nos Services" />

      <GridItem>
      {services.map(service => (
        <Card
          src={service.frontmatter.heroImage}
          title={service.frontmatter.title}
          href={service.url}
        >
          {service.frontmatter.description}
        </Card>
      ))}
      </GridItem>
    </Content>
  </main>
</Layout>
