---
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
import Showcase from "../components/Showcase.astro";
import GridItem from "../components/GridItem.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <main role="main">
    <Showcase
      heading="Nos Services"
      src="/images/services/services.jpg"
    />
    <Content className="pt-5">
      <Heading title="Nos Service" />

      <GridItem>
      <Card
        src="/images/services/sismique.jpg"
        title="Levés Sismique"
        href="/project/seismic"
      />
      <Card
        src="/images/services/georadar.jpeg"
        title="Géoradar"
        href="/project/georadar"
      />
      <Card
        src="/images/services/data.jpg"
        title="Traitement de données géoscientifiques"
        href="/project/data"
      />
      </GridItem>
    </Content>
  </main>
</Layout>
