---
import { Image } from '@astrojs/image/components';

export interface Props {
  src: string;
	title: string;
	href?: string;
}

const { src, href, title } = Astro.props;
---

<a
  class="no-underline hover:underline text-black dark:text-zinc-50"
  href={href}
>
<!-- Card -->
<div class="my-1 px-1 w-full">

  <!-- Card Content -->
  <div class="overflow-hidden">
    <Image
      width={500}
      height={400}
      alt={title}
      class="rounded-lg block h-auto w-full"
      src={src}
    />

    <div class="leading-tight p-2 md:p-4">
      <h2 class="text-center text-lg font-oswald">
          {title}
      </h2>
    </div>

    <!-- Card Body -->
    <div class="leading-none p-2 md:p-4">
      <slot />
    </div>
    <!-- End Card Body -->

  </div>
  <!-- END Card Content -->

</div>
<!-- END Card -->
</a>
