---
import { Image } from '@astrojs/image/components';

export interface Props {
  src: string;
	title: string;
	href?: string;
}

const { src, href, title } = Astro.props;
---

<a href={href}>
<div class="flex items-end my-1 py-1 w-full relative">
  <Image
    src={src}
    alt={title}
    width={400}
    height={400}
    class="rounded-lg"
  />

  <div class="bg-slate-900/60 rounded-b-lg w-full absolute pl-2 py-2">
    <h2 class="text-lg text-white font-bold font-oswald hover:underline pb-1">
      {title}
    </h2>
    <div class="container text-md text-white"><slot /></div>
  </div>
</div>
</a>
