---
import { SITE_NAME } from '../config';
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle';
---
  <header
    class="fixed w-full p-2 z-20 backdrop-blur-md text-slate-100 dark:text-slate-200"
  >
    <div class="mx-auto max-w-3xl">
    <nav class="flex items-center text-base justify-between">
      <a href="/">
        <h2
          class="font-semibold tracking-tighter font-oswald text-lg p-2"
        >
          {SITE_NAME}
        </h2>
      </a>

      <div class="md:flex hidden items-center gap-6 justify-end">
        <HeaderLink href="/services">Services</HeaderLink>
        <HeaderLink href="/projects">Réalisations</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink>

        <div class="flex-1"></div>
      </div>
      <ThemeToggle client:visible />
    </nav>
    </div>
  </header>

