---
import { Image } from '@astrojs/image/components';
import { SITE_NAME } from '../config';
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggle';
import DropdownMenu from './DropdownMenu';
---
  <header
    class="fixed w-full p-2 z-20 backdrop-blur"
  >
    <div class="mx-auto max-w-3xl">
    <nav class="flex items-center text-base gap-3">
      <a class="group" href="/">
        <div class="flex items-center">
          <Image
            width={20}
            height={20}
            alt="Logo"
            src="/images/logo.png"
          />

          <h2
            class="font-semibold tracking-tighter font-oswald text-lg p-2"
          >
            {SITE_NAME}
          </h2>
        </div>
      </a>

      <div class="flex-1"></div>
      <div class="md:flex hidden items-center gap-6 justify-end px-5">
        <HeaderLink href="/about">A propos</HeaderLink>
        <HeaderLink href="/services">Méthodes</HeaderLink>
        <HeaderLink href="/projects">Réalisations</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink>
      </div>
      <ThemeToggle client:visible />
      <DropdownMenu client:visible />
    </nav>
    </div>
  </header>

