---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<a
  class="dark:text-teal-200 dark:hover:text-teal-600 text-teal-600 hover:text-teal-900"
  href={href}
>
  <slot />
</a>

