---
import { Image } from '@astrojs/image/components';

export interface Props {
  heading: string;
  text?: string;
  src?: string;
}

const {
  heading,
  text,
  src = "/images/home/georadar.jpeg"
} = Astro.props as Props;
---

<div class="relative w-full h-96 flex justify-center items-center">
  <Image
    src={src}
    alt={heading}
    width={1200}
    height={500}
    class="absolute object-cover h-96 -z-10 w-full"
  />
  <div class="text-center">
    <h1 class="font-oswald font-bold text-5xl dark:text-zinc-50 text-zinc-900">
      {heading}
    </h1>
{text && (
  <>
    <p class="font-oswald text-zinc-200 dark:text-zinc-50">{text}</p>
  </>
)}
  </div>
</div>
